body {
    margin: auto;
    padding: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}
.container-full {
  margin-right: auto;
  margin-left:  auto;
}
.container {
    width: 980px;
    margin-right: auto;
    margin-left: auto;
}
.bg-banner {
    background-color: #888482fb;

}
.header {
    padding-top:90px;
    padding-bottom: 90px;
}
.logo {
    text-align: left;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    letter-spacing: 1px;
}
.enquiry-info {
    text-align: right;
    float: right;
}
.tag-number , .tag-copy {
    font-family: Arial, Helvetica, sans-serif;
    color: #000001;
}
.color-logo {
    color: #e6903b;
}
.tag-number {
    font-size: 40px;
    color:rgb(38, 61, 105);
}
.tag-copy {
    font-size: 21px;
    color:rgb(38, 61, 105);
}
.bg-banner {
    padding-top:60px;
    padding-bottom: 130px;
}
.bg-banner h1 {
    font-size: 40px;
    margin: 0;
    font-weight: 500;
    color:white;
    padding-bottom: 50px;
    font-family: Arial, Helvetica, sans-serif;
    
}
.bg-banner p {
    font-size: 26px;
    margin: 0;
    font-weight: 400;
    color: white;
    line-height: 32px;
    font-family: Arial, Helvetica, sans-serif;
}
/* content section */
.content-section {
    padding: 60px 0px 60px 0px;
}
.content-section01 {
    padding: 0px 0px 60px 0px;
}
.content-section01 .content {
    width: 500px;
}
.content-section01 h1 {
    margin: 0;
    font-family: 'Sintony', sans-serif;
    font-size: 44px;
    font-weight: 700;
    color:rgb(38, 61, 105);
    line-height: 48px;
    padding-bottom: 50px;
    padding-top: 40px;
}
.content-section01 p {
    margin: 0;
    font-family: 'Sintony', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 34px;
    padding-bottom: 30px;
}
.content-section01 .form {
    width: 340px;
    background-color: #010535;
    padding: 50px;
}
.form h3 {
    margin: 0;
    font-family: 'Sintony', sans-serif;
    font-size: 36px;
    font-weight: 700;
    padding-bottom: 30px;
    color: #ffffff;
}
.form p {
    font-family: 'Sintony', sans-serif;
    font-size: 20px;
    color: #ffffff;
    margin:0;
    padding-bottom:5px;

}
.form input[type='text'], input[type='email'], input[type='number'], textarea  {
    width: 100%;
    padding: 12px 20px;
    margin: 6px 0;
    box-sizing: border-box;
    border:none;
    font-family: 'Sintony', sans-serif;
    font-size: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
/* The container */
.form .container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-top: 12px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 20px;
    font-family: 'Sintony', sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #ffffff;
    box-sizing: border-box;
    width: 100%;
}
.form .container a {
    color: #ffffff;
    text-decoration: underline;
}
/* Hide the browser's default checkbox */
.form .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.form .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #ffffff;
}

/* When the checkbox is checked, add a blue background */
.form .container input:checked ~ .checkmark {
    background-color: #f60e0e;
}

/* Create the checkmark/indicator (hidden when not checked) */
.form .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.form .container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.form .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.form input[type=submit] {
    background-color: #058119;
    border: none;
    color: white;
    padding: 36px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    width: 100%;
    font-size: 20px;
    font-family: 'Sintony', sans-serif;
}
.content-section02 {
    margin: 0;
    padding-top:5px;
    padding-bottom: 5px;
    background-color: rgb(6, 6, 88);
}
.feature-box {
    width: 380px;
    padding: 35px;
}
.float-left {
    float: left;
    margin-block-end: auto;
    border-style: solid;
    border-color: white;
    border-width: 1px;
}
.float-right {
    float: right;
    border-style: solid;
    border-color: white;
    border-width: 1px;
}
.feature-box h3 {
    margin: 0;
    font-family: 'Sintony', sans-serif;
    font-size: 30px;
    color:white;
    font-weight: 700;
    padding-bottom: 10px;
}
.feature-box ul {
    list-style-position: inside;
    color:white;
    margin: 0;
    padding: 0;
}
.feature-box ul li{
    margin: 0;
    font-family: 'Sintony', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    padding-bottom: 7px;
}
.feature-box p {
    margin: 0;
    font-family: 'Sintony', sans-serif;
    font-size: 18px;
    color:white;
    font-weight: 400;
    line-height: 26px;
}

.content-section03 {
    padding: 200px 60px 100px 200px;    
    
}
.content.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-top: 12px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 20px;
    font-family: 'Sintony', sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #ffffff;
    box-sizing: border-box;
    width: 100%;
}
.content-section03 {
    padding: 60px 60px 200px 10px;
}
.content-section03 .content {
    width: 500px;
    
}
.content-section03 h1 {
    font-family: 'Sintony', sans-serif;
    font-size: 44px;
    font-weight: 700;
    color:rgb(17, 107, 5);
    line-height: 48px;
    padding-bottom: 50px;
    padding-top: 40px;
}

/* Tag section style */
.tag-header {
    padding-top:70px;
    padding-bottom: 70px;
    background-color: rgb(6, 6, 88);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.tag-header h2 {
    margin: 0 auto;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
    font-weight: 500;
}
/* footer section style */
.footer-section {
    padding-top: 80px;
    padding-bottom: 50px;
    font-family: 'Sintony', sans-serif;
    font-size: 16px;
    font-weight: 400;
}
.footer-address ul, .footer-disclaimer ul {
    list-style: none;
    text-align: center;
    padding-bottom:25px;
}
.footer-address ul li {
    display: inline;
    padding: 0px 13px 0px 13px;
}
.footer-disclaimer ul li {
    display: inline;
}
.footer-disclaimer ul li a {
    color:rgb(19, 133, 19);
    text-decoration: underline;
    padding-left: 5px;
    padding-right: 5px;
}